body {
    background-color: palevioletred;
}
p{
    color: blanchedalmond;
    font-size: x_small;
}
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.escarcha{
    font-size:  100px;
} 